@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.images {
  @apply absolute;
}

.images img {
  @apply object-cover;
}

.images:nth-of-type(1) {
  @apply w-[50vh] h-[60vh] z-[1];
}

.images:nth-of-type(2) {
  @apply w-[30vh] h-[40vh] top-[15vh] left-[55vw] z-[2];
}

.images:nth-of-type(3) {
  @apply w-[20vh] h-[25vh] top-[40vh] left-[30vw] z-[3];
}

.el {
  @apply absolute flex w-full h-full top-0 items-center justify-center;
}

.el .imageContainer {
  @apply relative w-[25vw] h-[25vh];
}

.el .imageContainer img {
  @apply object-cover;
}

.el:nth-of-type(2) .imageContainer {
  @apply w-[35vw] h-[30vh] top-[-30vh] left-[5vw];
}

.el:nth-of-type(3) .imageContainer {
  @apply w-[20vw] h-[45vh] top-[-10vh] left-[-25vw];
}

.el:nth-of-type(4) .imageContainer {
  @apply w-[25vw] h-[25vh] left-[27.5vw];
}

.el:nth-of-type(5) .imageContainer {
  @apply w-[20vw] h-[25vh] top-[27.5vh] left-[5vw];
}

.el:nth-of-type(6) .imageContainer {
  @apply w-[30vw] h-[25vh] top-[27.5vh] left-[-22.5vw];
}

.el:nth-of-type(7) .imageContainer {
  @apply w-[15vw] h-[15vh] top-[22.5vh] left-[25vw];
}

.paragraph {
  @apply flex text-[60px] leading-[1] p-10 max-w-[1280px] text-white flex-wrap;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
